@tailwind base;

*::-webkit-scrollbar {
    display: none;
}
@tailwind components;
@tailwind utilities;


@layer base {
    html {
        font-family: 'Bespoke Sans', sans-serif;
            font-family: 'Expose', sans-serif;
    }
}