@tailwind base;

*::-webkit-scrollbar {
    display: none;
}
@tailwind components;
@tailwind utilities;


@layer base {
    html {
        font-family: 'Neco', serif;
            font-family: 'Pally', sans-serif;
    }
}